{% extends "format.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="static/css/downloadVideo.css">
{% endblock %}
{% block body %}
<form id="downloadForm">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xl-5">
                <label class="YouTube-URL" placeholder="URL">URL</label>
                <input type="text" id="video_id" name="video_id" class="form-control" placeholder="URL">
            </div>
            <div class="form-group col-xl-5">
                <label>保存先</label>
                <select id="saveDir" class="form-control" placeholder="保存先">
                    {% for path in dirPaths %}
                    <option value="{{ path }}">{{ path }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" name="button" class="btn btn-primary col-xl-1" id="dl-button"><span>送信</span></button>
        </div>
    </div>
</form>
<script defer type="text/javascript" src="static/js/downloadVideo.js"></script>
{% endblock %}